.line,
.text,
.reset {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.reset,
.text,
#inp_count,
#inp_el,
#btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
}
#btn {
    background: chartreuse;
}
.reset {
    background: coral;
}
#inp_count,
#inp_el {
    background: #fbfbfb;
    min-width: 300px;
}
.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}